:root {
    --darkGreen: #4a707a;
    --darkGray: #7697a0;
    --lightBlue: #94b0b7;
    --gray: #c2c8c5;
    --lightGray: #ddddda;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.education {
    width: auto;
    max-width: 900px;
    margin: 1rem;
    background-color: var(--gray);
    border-radius: 20px;
}

.education--card {
    margin: 1rem;
    font-size: 1.2rem;
}

.education--card__subTitle {
    color: var(--darkGreen);
}

.education--card__date {
    color: var(--lightBlue);
}