:root {
    --darkGreen: #4a707a;
    --darkGray: #7697a0;
    --lightBlue: #94b0b7;
    --gray: #c2c8c5;
    --lightGray: #ddddda;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainSection {
    width: auto;
    max-width: 900px;
    margin: 1rem;
    background-color: var(--gray);
    border-radius: 20px;
    font-size: 1.2rem;
}

.mainSection__title, .extraSection__title {
    margin: 1rem 1rem 0.5rem 1rem;
}

.mainSection__subTitle, .extraSection__subTitle{
    margin: 0 1rem 0.5rem 1rem;
}

.mainSection__subTitle a, .extraSection__subTitle a {
    text-decoration: none;
    color: var(--darkGreen);
    transition: 0.5s all ease-in-out;
}

.mainSection__subTitle a:hover, .extraSection__subTitle a:hover {
    color: var(--darkGray);
}

.mainSection__description, .extraSection__description {
    margin: 1rem;
}

.mainSection__fig, .extraSection__fig {
    display: flex;
    justify-content: center;
}

.mainSection__fig img, .extraSection__fig img{
    width: 800px;
    border-radius: 20px;
    margin: 0 0 1rem 0;
}

.enlargedImg {
    width: 800px;
    transition: all 1s ease-in-out;
}

.extraSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 900px;
    margin: 1rem;
    background-color: var(--gray);
    border-radius: 20px;
    font-size: 1.2rem;
    transition: all 1s ease-in-out;
    position: relative;
    opacity: 0;
}

.extraSection__btn {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: var(--darkGreen);
    border: 2px solid var(--darkGreen);
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--lightGray);
    padding: .3rem;
    margin-bottom: 1rem;
}

.extraSection__btn:hover {
    background-color: var(--darkGray);
    border: 2px solid var(--darkGray);
}

.extraSection__btn:active {
    background-color: var(--lightBlue);
    border: 2px solid var(--lightBlue);
}

.hidden {
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.shown {
    opacity: 1;
    position: relative;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px) {
    .mainSection__fig img {
        width: 750px;
    }

    .extraSection__fig img {
        width: 750px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  { 
    .mainSection__fig img {
        width: 700px;
    }

    .extraSection__fig img {
        width: 700px;
    }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)  { 
    .mainSection__fig img {
        width: 650px;
    }

    .extraSection__fig img {
        width: 650px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
    .mainSection__fig img {
        width: 550px;
    }

    .extraSection__fig img {
        width: 550px;
    }
}

@media only screen 
  and (max-device-width: 568px) {
    .mainSection__fig img {
        width: 450px;
    }

    .extraSection__fig img {
        width: 450px;
    }
  }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .mainSection__subTitle {
        font-size: 1.1rem;
    }

    .mainSection__fig img {
        width: 250px;
    }

    .extraSection__subTitle {
        font-size: 1.1rem;
    }

    .extraSection__fig img {
        width: 250px;
    }
}